@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f4f7f9;
    
}
ol, ul {
	list-style: none;
   

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}
.container{
    width: 1300px;
    margin:0 auto;
}
.header{
   
    background: #141618;
    position: sticky;
    top:0;
    z-index: 5;

}
.header .container{
    height:60px;
    display: flex;
    align-items: center;

}
.header .logo{
    margin-right: 40px;
}
.header .container .menu ul li a{
    color:rgba(255,255,255,.6) ;
   height:60px;
    display:flex;
    align-items: center;
    
}
.header .container .menu ul li a i{
    margin-right:10px
}
.header .container .menu ul li a:hover{
    color: #fff;
}
.btn{
    display: inline-block;
    height:50px ;
    line-height:50px ;
    padding:0 20px;
    color:#fff;
    border-radius: 4px;
    background-color: #316aff;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 200ms all;
}
.btn.color-green{
    background: #36855b;
}
.btn:hover{
    transform: scale(1.05);
}
.search{
    display:flex;    border-radius: 4px;
    overflow: hidden;
    margin-left: auto;
    

    
}
.header .search input{
    height:34px ;
    width:250px ;
    background-color: #21252d;
    padding:0 10px ;
    color:white;
}
.header .search input:focus::placeholder{
    opacity: 0;
   
}
.header .search input::placeholder{
    color: rgba(255,255,255,.6);
    transition:200ms opacity;
}
.header .search .button{
    width:32px;
    height:34px ;
    background-color: #21252d;
    color:#fff;
    cursor: pointer;
    font-size: 16px;
    
}
.header .search .button:hover{
    background-color:#316aff ;
}
.header .login-buttons ul{
    display: flex;

}
.header .login-buttons ul li{
    margin-left:15px
}
.header .container .login-buttons a{
    height: 34px;
    display: block;
    line-height: 34px;
    
    color:rgba(255,255,255,.8)
}
.header .container .login-buttons a:hover{
    color: #fff;
}
.join-now-btn a{
    background:#36855b ;
    border-radius: 4px;
    padding:0 15px ;
}
.banner{
   background: linear-gradient(170deg,#212a39,#181e28);
   
}
.banner .container{
    min-height:50vh;
    display: flex;
    padding: 50px 0;
    align-items: center;
    
}
.banner .container .banner-box{
    width: 50%;
}
.banner .container .banner-box img{
    max-width:97%;
    transition: 200ms all;
}
.banner .container .banner-box img:hover{
    transform: scale(1.05);
}
.banner .container .banner-box.banner-image{
    padding-left: 150px;
}
.banner .container .banner-box h1{
    font-size: 48px;
    color: #fff;
    line-height: 56px;
    font-weight: 500;
}
.banner .container .banner-box h2{
    font-size:24px ;
    color:#b0b6be ;
   
    margin-top:10px;
}
.banner-box .btn{
    margin-top:65px;
    display: inline-block;
}
.section-1{
    display: flex;
    align-items: center;
    padding: 120px 0 100px;
}
.section-1 .lang{
    display: flex;
    width: 392px;
    min-width: 392px;
    flex-wrap: wrap;;
    justify-content: space-between;
}
.section-1 .lang a{
    width:184px ;
    height: 184px;
    background: #fff;
    border-radius: 4px;;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);
    transition: 200ms all;
}
.section-1 .lang a:hover{
    transform: scale(1.05);
}
.section-1 .lang a img{
    margin-bottom: 10px;
    height: 42px;
}
.section-1 .lang a .title{
    font-size: 18px;
    color:#111;
}
.section-1 .inner{
    padding-left: 160px;
}
.section-1 .inner h3{
    font-size:36px;
    color:#111;
    margin-bottom:30px;
   
}
.section-1 .inner p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 28px;
    
}
.section-2{
    background-color: #fff;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);
    padding:64px 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 100px;

}
.section-2 .icon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #f4f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;color: #d7dbe7;
    margin-bottom:32px

}
.section-2 p{
    font:22px/36px georgia,times,serif;
    text-align: center;
    margin-bottom: 10px;
    max-width: 60%;
    
    
}
.section-2 .user{
    display: flex;
    align-items: center;
    color:rgba(0,0,0,.7)
}
.section-2 .user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;;
}
.section-3{
    display: flex;
    padding: 0 30px;
}
.section-3>div {
    width: 50%;
    min-width: 50%;

}    
.section-3 .image img{
    width: 100%;
    display: block;
}
.section-3 .image{
    padding-top:100px;
}

.section-3 .text h3{
    font-size: 36px;
    margin-bottom: 30px;
}
.section-3 .text p{
    font-size: 18px;
    line-height: 28px;
    color:#111;
}
.section-3 .text .btn{
    margin-top: 50px;
}
.footer{
    background-color: #141618;
}
.footer .container{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}
.footer .logo{
    margin-bottom: 40px;
    
}

.footer .footer-nav{
    display: flex;
    
}
.footer .footer-nav nav{
    margin-right: 32px;
    
}
.footer .footer-nav nav h6{
    letter-spacing: 1.2px;
    color:#fff ;
    margin-bottom: 10px;
}
.footer .footer-nav nav ul li a{
    display: block;
    font-size: 16px;
    line-height: 150%;
    color:rgba(255,255,255,.5);
    transition: 200ms color;
}
.footer .footer-nav nav ul li{
    margin-bottom: 4px;;
}
.footer .footer-nav nav ul li a:hover{
    color:#fff;
}
.footer .footer-nav .search{
    margin-left:auto;
    display: flex;
    flex-direction: column;
}
.footer .footer-nav .search h6{
    font-size:20px;
    color:white;
    margin-bottom: 16px;
}
.footer .footer-nav .search form{
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}
.footer .footer-nav .search input{
    height: 48px;
    width: 375px;
    background-color:#21252d;
    padding:0 15px ;
    
}
.footer .footer-nav .search button{
    width: 48px;
    height: 48px;
    font-size: 18px;
    cursor:pointer;
    background-color: #316aff;
    color:#fff;
}

    

